.jumbotron {
    background: rgb(200, 54, 54) !important;; /* This is for ie8 and below */ 
    background: rgba(200, 54, 54, 0.2) !important;
}

.titulo-secao {
    border-bottom: 1px solid black;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    margin-top: 40px;
    border-bottom: 1px solid #eee;
}

body {
    /* background-image: url(../images/blocks.jpg); */
    background-repeat: no-repeat;
    background-size: 2000px;
}

#iniciacao {
    width: 15%;
    height: 10%;
}

img {
    width: 30%;
    height: 30%;
    margin: 10px 0px 10px 0px;
    display: block;
}

.projeto {
    padding-bottom: 10px;
}